<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="FunZoneMainPage :: links">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Users Register Page</title>
</head>
<body>
<div th:replace="FunZoneMainPage :: header"></div>

    <div th:class="register-login">
    <p>To jest strona rejestracji dla uzytkownikow</p>
    </div>
    <form th:action="@{/usersRegisterPage}" th:object="${person}" method="post">
        <div th:class="register-login">
            <div>
                <label for="name">Imie</label>
            </div>
            <div>
                <input id="name" type="text" th:field="*{firstName}">
            </div>
            <div>
                <label for="surname">Nazwisko</label>
            </div>
            <div>
                <input id="surname" type="text" th:field="*{lastName}">
            </div>
            <div>
                <label for="DateOfBirth">Data urodzenia</label>
            </div>
            <div>
                <input id="DateOfBirth" type="date" th:field="*{birthDate}">
            </div>
        </div>
    </form>

    <form th:action="@{usersRegisterPage}" th:object="${funZoneUserDTO}" method="post">
        <div th:class="register-login">
            <div>
                <label for="userName">Nazwa uzytkownika</label>
            </div>
            <div>
                <input id="userName" type="text" th:field="*{funUserName}">
            </div>
            <div>
                <label for="password">Haslo</label>
            </div>
            <div>
                <input id="password" type="password" th:field="*{funUserPassword}">
            </div>
            <div>
                <label for="confirm-password">Potwierdz haslo</label>
            </div>
            <div>
                <input id="confirm-password" type="password" th:field="*{confirmFunUserPassword}">
            </div>
        </div>
    </form>

<footer th:replace="FunZoneMainPage :: footer"></footer>
</body>
</html>